In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [7]:
data = pd.read_csv('../ex_data.csv')
data

   Col1  Col2  Col3  Col4  Col5
0     1     2     3     4     5
1     2     4     6     8    10
2     3     6     9    12    15
3     4     8    12    16    20
4     5    10    15    20    25
5     6    12    18    24    30
6     7    14    21    28    35
7     8    16    24    32    40
8     9    18    27    36    45
9    10    20    30    40    50

In [8]:
# Standardize
def standardize(df):
    standardize = StandardScaler()
    trans = standardize.fit_transform(df)
    return pd.DataFrame(trans)

standardize(data)

          0         1         2         3         4
0 -1.566699 -1.566699 -1.566699 -1.566699 -1.566699
1 -1.218544 -1.218544 -1.218544 -1.218544 -1.218544
2 -0.870388 -0.870388 -0.870388 -0.870388 -0.870388
3 -0.522233 -0.522233 -0.522233 -0.522233 -0.522233
4 -0.174078 -0.174078 -0.174078 -0.174078 -0.174078
5  0.174078  0.174078  0.174078  0.174078  0.174078
6  0.522233  0.522233  0.522233  0.522233  0.522233
7  0.870388  0.870388  0.870388  0.870388  0.870388
8  1.218544  1.218544  1.218544  1.218544  1.218544
9  1.566699  1.566699  1.566699  1.566699  1.566699

In [9]:
# Normalize
def normalize(df, min, max):
    normalize = MinMaxScaler(feature_range = (min, max))
    trans = normalize.fit_transform(df)
    return pd.DataFrame(trans)

normalize(data, 0, 1)

          0         1         2         3         4
0  0.000000  0.000000  0.000000  0.000000  0.000000
1  0.111111  0.111111  0.111111  0.111111  0.111111
2  0.222222  0.222222  0.222222  0.222222  0.222222
3  0.333333  0.333333  0.333333  0.333333  0.333333
4  0.444444  0.444444  0.444444  0.444444  0.444444
5  0.555556  0.555556  0.555556  0.555556  0.555556
6  0.666667  0.666667  0.666667  0.666667  0.666667
7  0.777778  0.777778  0.777778  0.777778  0.777778
8  0.888889  0.888889  0.888889  0.888889  0.888889
9  1.000000  1.000000  1.000000  1.000000  1.000000

In [17]:
# Moving average filter
def moving_avg_filter(df, window_size):
    filtered = df.rolling(window = window_size).mean()
    filtered = filtered.dropna()
    return filtered

moving_avg_filter(data, 2)

   Col1  Col2  Col3  Col4  Col5
1   1.5   3.0   4.5   6.0   7.5
2   2.5   5.0   7.5  10.0  12.5
3   3.5   7.0  10.5  14.0  17.5
4   4.5   9.0  13.5  18.0  22.5
5   5.5  11.0  16.5  22.0  27.5
6   6.5  13.0  19.5  26.0  32.5
7   7.5  15.0  22.5  30.0  37.5
8   8.5  17.0  25.5  34.0  42.5
9   9.5  19.0  28.5  38.0  47.5